<% layout('layouts/boilerplate') %>
<form method="POST" action="/users/update/<%= user._id %>" autocomplete="off" class="validated-form" novalidate enctype="multipart/form-data">
    <div class="form-group">
        <label for="user">Update profile</label>
        <div class="mb-3">
            <label class="form-label" for="name">Name</label>
            <input type="text" name="name" class="form-control" value="<%= user.name %>" required autofocus />
        </div>
        <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input type="text" name="email" class="form-control" value="<%= user.email %>" required />
        </div>
        <div class="mb-3">
            <label class="form-label" for="interests">Interests</label>
            <input type="text" name="interests" class="form-control" value="<%= user.interests %>" required />
        </div>
        <% if (user.picture) { %>
            <p>Current picture: <%= user.picture.name %></p>
        <% } %>
        New picture: <input type="file" name="image" accept="image/*">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<a class="btn btn-primary" href="/">All profiles</a>
