<% layout('layouts/boilerplate') %>
<form method="POST" action="/users/update/<%= user._id %>" autocomplete="off" enctype="multipart/form-data">
    <div class="form-group">
        <label for="user">Update profile</label><br>
        Name:<input type="text" name="name" class="form-control" value="<%= user.name %>" />
        Email:<input type="text" name="email" class="form-control" value="<%= user.email %>" />
        Interests:<input type="text" name="interests" class="form-control" value="<%= user.interests %>" />
        <% if (user.picture) { %>
            <p>Current picture: <%= user.picture.name %></p>
        <% } %>
        New picture: <input type="file" name="image" accept="image/*">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<a class="btn btn-primary" href="/">All profiles</a>
