<% layout('layouts/boilerplate') %>
<div class="container">
    <div class="col-md-8 m-auto">
        <div class="row" style="height: 50px;"></div>
        <div class="row justify-content-center">
            <h3 style="text-align: center;">Guessing game</h3>
        </div>
        <br>
        <% if (Object.keys(teams).length > 0) { %>
            <p>Guess <%= user.name %>'s <%= question %>:</p>
            <div class="row">
                <div class="col">
                    <% if (question == 'team') { %>
                        <input class="form-control" id="guess" onkeypress="checkEnter(event, '<%= question %>', '<%= user[question].name %>')" />
                    <% } else { %>
                        <input class="form-control" id="guess" onkeypress="checkEnter(event, '<%= question %>', '<%= user[question] %>')" />
                    <% } %>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col" style="width: 50%;">
                    <% if (question == 'team') { %>
                        <button class="btn" onclick="checkGuess('<%= question %>', '<%= user[question].name %>')" style="width: 100%; background-color: goldenrod; color: white">Submit guess</button>
                    <% } else { %>
                        <button class="btn" onclick="checkGuess('<%= question %>', '<%= user[question] %>')" style="width: 100%; background-color: goldenrod; color: white">Submit guess</button>
                    <% } %>
                </div>
                <div class="col" style="width: 50%;">
                    <button class="btn" id="back" style="width: 100%; background-color: goldenrod; color: white">Back</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <p id="message" style="text-align: center;"></p>
                </div>
            </div>
        <% } else { %>
            <div class="text-center"><strong>No users.</strong></div>
        <% } %>
    </div>
</div>

<script>
    let btnBack = document.querySelector('#back');

    btnBack.addEventListener('click', () => {
        window.history.back()
    });

    function checkEnter(event, question, correct) {
      if (event.keyCode === 13) {
        checkGuess(question, correct);
      }
    }

    function checkGuess(question, correct) {
        const guess = document.getElementById('guess').value;
        if (guess.toLowerCase() === correct.toLowerCase()) {
            document.getElementById('message').textContent = 'Congratulations! You guessed.';
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').className = 'alert alert-success';
        } else {
            document.getElementById('message').textContent = `Not this time... The correct answer is '${correct}'.`;
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').className = 'alert alert-danger';
        }
        document.getElementById('message').style.className = 'text-center';
        setTimeout(() => {
            location.reload();
        }, 5000);
    }
</script>
