<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User App</title>
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="app">
        <header>
            <nav class="navbar navbar-dark bg-primary">
                <span class="navbar-brand mb-0 h1">User App</span>
            </nav>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-md-8 m-auto pt-4">
                    <div class="row">
                        <div class="col-12">
                            <% if(Object.keys(profiles).length> 0) { %>
                                <ul class="nav flex-column">
                                    <% profiles.forEach(user=> { %>
                                        <li class="nav-item">
                                            <div class="d-flex justify-content-between py-1">
                                                <div class="d-flex flex-row">
                                                    <div>
                                                        <%= user.name %>
                                                    </div>
                                                </div>
                                                <a class="btn btn-primary" href="/update/<%= user._id %>">Update
                                                    profile</a>
                                                <a class="btn btn-primary" href="/show/<%= user._id %>">Read
                                                    profile</a>
                                                <a href="javascript:;" onclick="this.children[0].submit()"
                                                    class="text-danger">
                                                    <form method="POST" action="/delete/<%= user._id %>">
                                                        <input type="hidden" name="_key" value="<%= user._id %>" />
                                                    </form>
                                                    <i class="fa fa-trash-o"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <% }) %>
                                </ul>
                                <% } else { %>
                                    <div class="text-center"><strong>Please add a user.</strong></div>
                                    <% }%>
                        </div>
                    </div>
                    <hr>
                    <a class="btn btn-primary" href="/new">New profile</a>
                    <img class="d-block mx-auto mb-4" src="/image" alt="">
                </div>
            </div>
        </div>
    </div>
</body>

</html>
