<% layout('layouts/boilerplate') %>
<div class="container">
    <div class="row align-items-center justify-content-around">
        <% if (user.picture) { %>
            <div class="col-md-6">
                <img src=<%= user.picture.image.srcUrl %> class="img-fluid" style="max-width: 100%;" alt=""/>
            </div>
            <div class="col-5">
                <div class="row">
                    <h1><%= user.name %></h1>
                </div>
                <div class="row">
                    Email: <%= user.email %>
                </div>
                <div class="row">
                    Interests: <%= user.interests %>
                </div>
                <% if (user.biography) { %>
                    <div class="row">
                        Biography: <%= user.biography %>
                    </div>
                <% } %>
                <div class="mt-3 row">
                    <a class="btn" style="background-color: goldenrod; color: white" href="/users">All profiles</a>
                </div>
            </div>
        <% } else { %>
            <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
                <div class="row">
                    <h1><%= user.name %></h1>
                </div>
                <div class="row">
                    Email: <%= user.email %>
                </div>
                <div class="row">
                    Interests: <%= user.interests %>
                </div>
                <% if (user.biography) { %>
                    <div class="row">
                        Biography: <%= user.biography %>
                    </div>
                <% } %>
                <div class="mt-3 row">
                    <a class="btn" style="background-color: goldenrod; color: white" href="/users">All profiles</a>
                </div>
            </div>
        <% } %>
    </div>
</div>
